<?xml version="1.0"?>
<!--
  Дополнительные сведения по настройке приложения ASP.NET см. по ссылке
  http://go.microsoft.com/fwlink/?LinkId=169433
<appSettings>
    <add key="aspnet:MaxHttpCollectionKeys" value="2001" />
  </appSettings>
  -->
<configuration>
  
  <connectionStrings>
    <add name="ApplicationServices" connectionString="data source=.\SQLEXPRESS;Integrated Security=SSPI;AttachDBFilename=|DataDirectory|\aspnetdb.mdf;User Instance=true" providerName="System.Data.SqlClient" />     <add name="Connection_to_Pinsk" connectionString="Data Source=pirr2nora;Persist Security Info=True;User ID=pinsk;Password=pes;Unicode=True" providerName="System.Data.OracleClient" />
  </connectionStrings>
  <system.web>
    <sessionState timeout="525600" stateNetworkTimeout="3600"/>
    <customErrors mode="Off"/>
    <compilation debug="true" >
     
      <assemblies>
        <add assembly="System.Web.Extensions, Version=1.0.61025.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" />
        <add assembly="System.Web, Version=2.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A" />
        <add assembly="System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089" />
        <add assembly="System.Drawing, Version=2.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A" />
        <add assembly="System.Configuration, Version=2.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A" />
        <add assembly="System.Data, Version=2.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089" />
        <add assembly="System.Xml, Version=2.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089" />
        <add assembly="System.Design, Version=2.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A" />
        <add assembly="System.Windows.Forms, Version=2.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089" />        
      </assemblies>
    </compilation>
    <!--
            The <authentication> section enables configuration 
            of the security authentication mode used by 
            ASP.NET to identify an incoming user. 
        -->
    <authentication mode="Forms">
      <forms name="ASP_XML_Form" loginUrl="login.aspx" protection="All"  timeout="525600"
             requireSSL="false" slidingExpiration="true">
        <credentials passwordFormat="Clear">
          <user name="egik" password="310784"/>
          <user name="yura" password="7887"/>
          <user name="luda" password="4265"/>
          <user name="viktor" password="3333"/>
          <user name="sizp" password="7777"/>
	        <user name="natasha" password="8585"/>
        </credentials>
      </forms>
    </authentication>
    <membership>
      <providers>
        <clear />
        <add name="AspNetSqlMembershipProvider" type="System.Web.Security.SqlMembershipProvider" connectionStringName="ApplicationServices" enablePasswordRetrieval="false" enablePasswordReset="true" requiresQuestionAndAnswer="false" requiresUniqueEmail="false" maxInvalidPasswordAttempts="5" minRequiredPasswordLength="6" minRequiredNonalphanumericCharacters="0" passwordAttemptWindow="10" applicationName="/" />
      </providers>
    </membership>
    <profile>
      <providers>
        <clear />
        <add name="AspNetSqlProfileProvider" type="System.Web.Profile.SqlProfileProvider" connectionStringName="ApplicationServices" applicationName="/" />
      </providers>
    </profile>
    <roleManager enabled="false">
      <providers>
        <clear />
        <add name="AspNetSqlRoleProvider" type="System.Web.Security.SqlRoleProvider" connectionStringName="ApplicationServices" applicationName="/" />
        <add name="AspNetWindowsTokenRoleProvider" type="System.Web.Security.WindowsTokenRoleProvider" applicationName="/" />
      </providers>
    </roleManager>
    <httpHandlers>
      <remove path="*.asmx" verb="*" />
      <add path="*.asmx" verb="*" type="System.Web.Script.Services.ScriptHandlerFactory, System.Web.Extensions, Version=1.0.61025.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" validate="false" />
      <add path="*_AppService.axd" verb="*" type="System.Web.Script.Services.ScriptHandlerFactory, System.Web.Extensions, Version=1.0.61025.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" validate="false" />
      <add path="ScriptResource.axd" verb="GET,HEAD" type="System.Web.Handlers.ScriptResourceHandler, System.Web.Extensions, Version=1.0.61025.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" validate="false" />
      <add path="Telerik.Web.UI.WebResource.axd" verb="*" type="Telerik.Web.UI.WebResource, Telerik.Web.UI, Version=2008.1.415.20, Culture=neutral, PublicKeyToken=5798b630e02d74fc" validate="false" />
      <add verb="*" path="Telerik.RadUploadProgressHandler.ashx" type="Telerik.Web.UI.RadUploadProgressHandler, Telerik.Web.UI" />
      <add path="Telerik.Web.UI.WebResource.axd" type="Telerik.Web.UI.WebResource" verb="*" validate="false" />
    </httpHandlers>
  </system.web>
  <system.webServer>
    <modules runAllManagedModulesForAllRequests="true" />
    <validation validateIntegratedModeConfiguration="false" />
    <handlers>
      <add name="Telerik_Web_UI_WebResource_axd" verb="*" preCondition="integratedMode" path="Telerik.Web.UI.WebResource.axd" type="Telerik.Web.UI.WebResource" />
    </handlers>
  </system.webServer>
  <!--добавлять ФИО пользователей в Edit/LogName.aspx.cs!!! -->
  <location path="Pes" >
    <system.web>
      <authorization>
        <allow users="egik,yura,viktor"/>
        <deny users="?,natasha"/>
      </authorization>
    </system.web>
  </location >
  <location path="Others" >
    <system.web>
      <authorization>
        <allow users="egik,yura,viktor"/>
        <deny users="?,natasha"/>
      </authorization>
    </system.web>
  </location >
  <location path="Edit" >
    <system.web>
      <authorization>
        <allow users="egik,yura,viktor"/>
        <deny users="?"/>
      </authorization>
    </system.web>
  </location >
  <location path="SuperUSER" >
    <system.web>
      <authorization>
        <allow users="egik,yura,viktor,sizp"/>
        <deny users="?,natasha"/>
      </authorization>
    </system.web>
  </location >
  <location path="Others/output_acts.aspx" >
    <system.web>
      <authorization>
        <allow users="natasha"/>
        <deny users="?"/>
      </authorization>
    </system.web>
  </location >
  <location path="Others/edit/add_record.aspx" >
    <system.web>
      <authorization>
        <allow users="natasha"/>
        <deny users="?"/>
      </authorization>
    </system.web>
  </location >
</configuration>